@font-face {
    font-family: 'Hamilton';
    src: url('resources/fonts/Hamilton.ttf') format('truetype');
    font-style: normal;
 
}
@font-face{
    font-family: "Baby Doll";
    src: url('resources/fonts/Baby\ Doll.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Shorelines Script Bold';
    src: url('resources/fonts/Shorelines\ Script\ Bold.otf')format('opentype');
}
 
body {
    background: url(resources/imgs/pink\ loop\ bkg.gif) no-repeat;
    background-size: cover;
    background-color: rgb(255, 196, 230);  
    
    cursor : url('resources/imgs/heartcursor.png'), auto; 
   
}
/* .my-cursor {
  cursor: url('resources/imgs/heartred.png'), auto;
} */
.bkg-gif{
    position: relative;
}
/* .my-element {
    cursor: url('resources/imgs/heartred.png'), auto;
  } */
h1 {
    font-family: 'Hamilton';
    font-size: 100px;
    color: aliceblue;
    padding-right:35%;
    padding-top:3%;
    padding-left:35%;
}
.forms p {
    font-family:'Shorelines Script Bold', cursive;
    font-size: 50px;
    padding-right:5%;
    padding-top:3%;
    padding-left:5%;
}


#calculateButton{
    font-family:'Shorelines Script Bold', cursive;
    color: aliceblue;
    background-color: rgb(238, 118, 174);
    display: block;
    margin-top: 0%;
    margin: 0 auto;
}
#calculateButton:hover {
    background-color: rgb(255, 44, 79);
}
.forms {
    text-align: center;
}

/* .bkg{
    position: relative;
} */
.hidden {
    display: none;
}

#gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
}

#gif-container img {
    max-width: 100%;
    max-height: 100%;
}
.img {
    max-width: 50%;
  }

#img1{
    position: absolute;
    top: -4%;
    left: 20%;
    
}

#result {
    font-family: 'Baby Doll';
    font-size: 20px;
    /* padding-right:35%;
    padding-top:3%;
    padding-left:35%; */
    text-align: center
}
#advice-paragraph{
    text-align: center
}